# Some additional tasks required.
BR2_ROOTFS_POST_BUILD_SCRIPT="board/jetson-tk1/post-build.sh"

# Architecture
BR2_arm=y
BR2_cortex_a15=y
BR2_ARM_EABIHF=y
BR2_ARM_CPU_HAS_VFPV4=y
BR2_ARM_FPU_VFPV4=y
BR2_ARM_INSTRUCTIONS_THUMB2=y

# Compiler
BR2_GCC_VERSION_4_9_X=y
BR2_GCC_VERSION="4.9.2"
BR2_OPTIMIZE_2=y
BR2_TARGET_OPTIMIZATION="-pipe -mabi=aapcs-linux -mfloat-abi=hard -mcpu=cortex-a15 -mfpu=vfpv4 -mthumb"

# Lock to 3.18 headers
BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_VERSION="3.18"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_18=y

# Linux kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/zdobersek/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="550688cfbe21170b89a5b8c39c70fe2eef340b15"
BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_DEFCONFIG="tegra"
BR2_LINUX_KERNEL_ZIMAGE=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_USE_INTREE_DTS=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="tegra124-jetson-tk1"

BR2_TOOLCHAIN_BUILDROOT=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GLIBC_VERSION_2_20=y

BR2_TARGET_GENERIC_GETTY=y
BR2_TARGET_GENERIC_GETTY_PORT="tty1"
BR2_TARGET_GENERIC_ROOT_PASSWD="root"

BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_NTPD=y
BR2_PACKAGE_NTP_NTPDATE=y

BR2_PACKAGE_TZDATA=y
BR2_TARGET_TZ_INFO=y
BR2_TARGET_TZ_ZONELIST="default"
BR2_TARGET_LOCALTIME="America/Los_Angeles"

BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_PACKAGE_EUDEV=y

BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_LINUX_FIRMWARE_NVIDIA_GK20A=y
BR2_PACKAGE_NOUVEAU_DRM=y
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_LIBDRM_NOUVEAU=y
BR2_PACKAGE_LIBDRM_TEGRA=y
BR2_PACKAGE_WAYLAND=y
BR2_PACKAGE_MESA3D=y
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_NOUVEAU=y
BR2_PACKAGE_MESA3D_OPENGL_EGL=y
BR2_PACKAGE_MESA3D_OPENGL_ES=y
BR2_PACKAGE_KMSCUBE=y
BR2_PACKAGE_WESTON=y
BR2_PACKAGE_WESTON_DRM=y
BR2_PACKAGE_WESTON_EGL=y

# FIXME: Add proper support for video playback.
# BR2_PACKAGE_GSTREAMER1=y
# BR2_PACKAGE_GST_OMX=y
# BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_APP=y
# BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VIDEOCONVERT=y
# BR2_PACKAGE_GST1_PLUGINS_GOOD=y
# BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_AUDIOPARSERS=y
# BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_AUTODETECT=y
# BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_DEINTERLACE=y
# BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_ISOMP4=y
# BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_MATROSKA=y
# BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_SOUPHTTPSRC=y
# BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_V4L2=y
# BR2_PACKAGE_GST1_PLUGINS_BAD=y
# BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_DASH=y
# BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_GL=y
# BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_HLS=y
# BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_LIBMMS=y
# BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_MPEGTSDEMUX=y
# BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_VIDEOPARSERS=y

BR2_PACKAGE_WPE=y
BR2_PACKAGE_WPE_DEMOS=y
BR2_PACKAGE_DEJAVU=y
BR2_PACKAGE_SHARED_MIME_INFO=y

# Enable when required.
# BR2_GDB_VERSION_7_7=y
# BR2_PACKAGE_GDB=y
# BR2_PACKAGE_GDB_SERVER=y
# BR2_PACKAGE_ELFUTILS=y
# BR2_PACKAGE_PERF=y
# CONFIG_HAVE_PERF_EVENTS=y
# CONFIG_KALLSYMS=y
# CONFIG_KALLSYMS_ALL=y
